<header class="mb-15" th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml"
        xmlns:sec="http://www.w3.org/1999/xhtml">

    <div>
        <nav class="nav nav-masthead justify-content-left float-md-end row">

            <div class="left-block col-6">

                <a class="nav-link" href="/location">Локації VeryCoolGame</a>
                <a class="nav-link" href="/monster">Монстри VeryCoolGame</a>
                <a class="nav-link" href="/npc">NPC VeryCoolGame</a>
                <a class="nav-link" href="/drop">Дропи з монстрів VeryCoolGame</a>
                <a class="nav-link" href="/quest">Квести VeryCoolGame</a>
            </div>

        </nav>
    </div>
</header>